.btn-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: orange;
    height: 40px;
    border-bottom-width: thick;
    width: 100%;
}

.btn-cart:hover{
    background: chocolate;
}