/* .products{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 16px;
} */
.products {
    display: inline-flex;
    width: 90%;
    justify-content: center;
    flex-flow: wrap;
}

.product {
    color: white;
    padding: -19px;
    width: 150px;
    height: 203px;
    background-color: blue;
    margin: 7px;
}

.product:hover {
    color: white;
    padding: -19px;
    width: 150px;
    height: 203px;
    background-color: darkblue;
    margin: 7px;
}


.content-cart-products{
    display: inline-flex;
    flex-flow: column;
    margin-top: 10px;
}
.btn-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: orange;
    height: 40px;   
}

.btn-cart:hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: chocolate;
    height: 40px;   
}